@model Benjamin.PracticoMVC.WebApp.Models.Usuarios.UsuariosModel
@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles Usuario</h2>



<div class="col-md-6">


    <table class="table">
        <tr>
            <td>Rol:</td>
            <td>@Model.DetalleUsuario.ROL</td>
        </tr>

        <tr>
            <td>Usuario:</td>
            <td>@Model.DetalleUsuario.USERNAME</td>
        </tr>


        <tr>
            <td>Nombres:</td>
            <td>@Model.DetalleUsuario.NOMBRES</td>
        </tr>


        <tr>
            <td>Apellidos:</td>
            <td>@Model.DetalleUsuario.APELLIDOS</td>
        </tr>


        <tr>
            <td>Fecha de Creación:</td>
            <td>@Model.DetalleUsuario.FECHA_CREACION.ToShortDateString()</td>
        </tr>

        <tr>
            <td>Estado:</td>
            <td>@Model.DetalleUsuario.ESTADO</td>
        </tr>
    </table>


</div>


<script src="~/Scripts/Custom/test.js"></script>