@model Benjamin.PracticoMVC.WebApp.Models.Usuarios.UsuariosModel
@{
    ViewBag.Title = "Listar";
}

<h2>Listar Usuarios</h2>

<div>
    <br />

    <input type="button" class="btn btn-outline-info" value="Agregar Persona" onclick="location.href='@Url.Action("Crear", "Usuarios")'" />

    <br />  <br />
</div>


@if (Model.Mensaje != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>@Model.Mensaje</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

}



@*TABLA USUARIOS LLENADA CON RAZOR*@
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">USUARIO</th>
            <th scope="col">ROL</th>
            <th scope="col">NOMBRES</th>
            <th scope="col">APELLIDOS</th>
            <th scope="col">FECHA DE ALTA</th>
            <th scope="col">ESTADO</th>
            <th scope="col" class="text-center">ACCIONES</th>
        </tr>
    </thead>
    <tbody>


        @foreach (var obj in Model.ListaDeUsuarios)
        {
            <tr>
                <td>@obj.ID_USUARIO</td>
                <td>@obj.USERNAME</td>
                <td>@obj.ROL</td>
                <td>@obj.NOMBRES</td>
                <td>@obj.APELLIDOS</td>
                <td>@obj.FECHA_CREACION.ToShortDateString()</td>
                <td>@obj.ESTADO </td>
                <td>

                    <button class="btn btn-info" onclick="location.href='@Url.Action("Detalles", "Usuarios",  new { id = obj.ID_USUARIO })'"><i class="fas fa-info-circle"></i></button>
                    <button class="btn btn-warning" onclick="location.href='@Url.Action("Editar", "Usuarios",  new { id = obj.ID_USUARIO})'"><i class="fas fa-edit"></i></button>
                    <button class="btn btn-danger" onclick="location.href='@Url.Action("Eliminar", "Usuarios",  new { id = obj.ID_USUARIO })'"><i class="fas fa-trash-alt"></i></button>

                </td>


            </tr>

        }



    </tbody>
</table>


<script src="~/Scripts/Custom/test.js"></script>